.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #686868e7;
    z-index: 1000;
}

.modal-no-bs {
    position: fixed;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 1000;

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 10px 0 10px;
        margin-bottom: 15px;
        

        .modal-header-name {
            h4 {
                margin-bottom: 2px;
                font-size: 2em;
                font-weight: 600;
            }
        }

        .modal-close-button {
            font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 0,
            'opsz' 48;
            font-size: 2.5em;
            cursor: pointer;
        }
    }

    hr {
        margin-bottom: 0;
    }

    .modal-body-no-bs {
        .row {
            .col:nth-child(1) {
                img {
                    min-height: 100%;
                    min-width: 265px;
                }
            }
            .col:nth-last-child(1) {
                margin: 16px 25px 25px 0;

                h6 {
                    font-size: 1.5em;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .modal-no-bs {
        .modal-body-no-bs {
            .row {
                .col:nth-child(1) {
                    display: flex;
                    justify-content: center;
                    img {
                        height: auto;
                        width: 300px;
                    }
                }
                .col:nth-last-child(1) {
                    // margin: 16px 25px 25px 0;
                    margin: 25px;
                }
            }
        }
    }
}