.card {
    width: 450px;
    // height: auto;
    margin: 50px 0;

    .card-img-top {
        width: 100%;
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }

    cursor: pointer;
}

h6 {
    font-size: 1.3em;
    text-decoration: underline;
}

.card-title {
    font-size: 2.0em;
    align-self: left;
    font-weight: 600;
}

.card-subtitle {
    text-decoration: none;
    font-size: 1.5em;
}

p {
    font-size: 1.1em;
}